* {
  background-color: cadetblue;
}

.copy-right {
  text-align: right;
}

.titlu-principal {
  text-align: center;
  color:blueviolet;
  background-color:cornflowerblue;
  border: 2px solid black;
}

.titlu {
  text-align: center;
}

.titlu:hover {
  color: blueviolet;
}

.ingredients > li:hover {
  background-color: black;
  color: white;
}

li:nth-child(5) {
  color: green;
}

a {
  color:aliceblue;
}

#register:link {
  color: rgb(255, 0, 0);
}

#register:active , #register:hover {
  color: rgb(223, 152, 21);
}

.main-nav > a {
  color: black;
}

.nav-ul > li {
  color:blue 
}

.nav-ul > li > a:hover {
  color: rgb(146, 27, 87);
}

.back-to-top {
  text-align: center;
}

.back-to-top > a:hover {
  color: brown;
} 






